header{background-color:#F0FFF0;}
.navbar-nav li {margin: 10px;}
.navbar-brand img{width: 200px;}
.btn{border: 1px solid #21B573;
background-color: #21B573;
border-radius: 20px;
color: white !important;
padding: 5px 20px;
}
.card{border: none;
background-color: #F0FFF0;
border-radius: 10px;

}
.card img{width: 25%;}
.card:hover{background-color: white;
box-shadow: 5px 5px 10px lightgray;}
.pic,.pic1,.pic2 {
background-color: white;
box-shadow: 5px 5px 10px lightgray;
}
.pic img{width: 100%;}
.pic1 img{width: 100%;}
.pic2 img{width: 100%;}

.card-footer{background-color:white;
border: none;
padding: 5px;}
.online-footer img{width: 30px;
padding: 5px;}
.row img{
width: 100px;}
.last-part{background-color:black;}
.list{list-style:none;}